@import "./variables";

body,
html {
    background-color: #dadada;
    color: #6b6b6b;
    font-family: $roboto;
    margin: 0;
    padding: 0;
    height: 100%;
}

@import "./welcome.scss";
@import "./ajax.scss"
