.welcome {
    display: inline-table;
    width: 100%;
    height: 100%;
    text-align: center;

    & div {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }

    & h1 {
        margin: 0;
        padding: 0;
        font-weight: 100;
        font-size: 4rem;
    }

    & p {
        font-weight: 100;
        font-size: 2rem;
    }

    & ul,
    li {
        list-style: none;
        padding: 0;
    }

    & ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #fff;
        background-color: #626262;
        border: 1px solid #424242;
        border-radius: 10px;
        width: 45%;
        margin: 0 auto;

        & li {
            display: flex;
            width: 100%;
            background-image: linear-gradient(to bottom, transparent, rgba(219, 219, 219, 0.4), transparent, transparent, transparent, transparent);
            position: relative;
            z-index: 1;

            &:hover {
                background-image: linear-gradient(to top, transparent, rgba(219, 219, 219, 0.4), transparent, transparent, transparent);
            }

            & a {
                text-decoration: none;
                font-size: 1.5rem;
                display: block;
                padding: 15px 25px;
                color: inherit;
                margin: 0 auto;
                width: 100%;
            }
        }

        & li:last-child {
            border-left: 1px solid #000;
        }
    }
}
